<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/userInfo.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><%= locals.title %></h1>
    <div class="user-details">
      <div class="user-property">
        <span class="property-label">ID:</span> <%= locals.user._id %>
      </div>
      <div class="user-property">
        <span class="property-label">Login:</span> <%= locals.user.login %>
      </div>
      <div class="user-property">
        <span class="property-label">Email:</span> <%= locals.user.email %>
      </div>
      <div class="user-property">
        <span class="property-label">Password:</span> <%= locals.user.password
        %>
      </div>
      <div class="user-property">
        <span class="property-label">Registration Date:</span> <%=
        locals.user.registrationDate %>
      </div>
    </div>
  </body>
</html>
